.vs/
.suo/
env
*.vsidx
/.vs
acdifiles.json
PartnerPortal.pyproj
.vs/PartnerPortal.slnx/FileContentIndex/d9f756d0-95b2-4caa-b546-6a1d6f375192.vsidx
.vs/PartnerPortal.slnx/v18/.suo
.vs/PartnerPortal.slnx/v18/DocumentLayout.json
PartnerPortal.pyproj
PartnerPortal.pyproj
/.vs
